
img{
    /* display: block; */
    border: 2px solid lightblue;
    width: 80%;
    max-width:1000px
    /*margin: 0 auto;*/
}

#image-box{
    text-align: center;
}

h1,p{
    border: 3px solid blue;
    text-align: center;
}
p{
    font-size: 3em;
}
body{
    font-size: 30px;
}
.para-box {
    font-size: 3rem;
}
div p:hover {
    background-color:aqua
}
.social a {
    text-decoration: none;
}