@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
/* body{
    background-color: red;
} */
nav{
    text-align: left;
    color: blue;
    text-decoration: none;

}
a{
    text-align: center;
    color: black;
    text-decoration: none;
}
#hero-box{
    text-align: center;
    
}
#hero-img{
    width: 100%;
}
h1{
    text-align: center
}
#hero-msg{
    text-align: center
}
#hero {
    width: 100%;
}
h4{
    text-align: center;
    color: black;
}
h3{
    color: black;
    text-decoration: underline;
}
.button-box{
    text-align: center;
}
main{
    text-align: center;

}
section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: #D8A47F;
}
body{
    background-color: lightblue;
    font-family: "Im Fell French Cannon SC", "Helvetica Neue", "sans serif";
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #D8A47F;
}
nav a:hover{
    background-color: lightblue;
    color: black
}
.book{
    background-color: #D8A47F;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: lightblue;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: lightblue;
    color: black;
}
.join:hover{
    background-color: lightblue;
    color: black;
}
#background{
    background-color: lightblue;
}
.msg{
    background-color: #D8A47F;
    color: black;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #D8A47F;
    color: black;
    text-decoration: underline;
    padding: 25px 50px;
    margin-top: 200px;
    font-size: .5em;
}
.home-title{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2{
    color: black;
    font-family: "Im Fell French Cannon SC", Arial, Helvetica, sans-serif;
    margin: 0;

}
.msg p{
    color: black;
    padding-bottom: 15px;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: black;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 80px;
}
a:hover{
    text-decoration: underline;
}
#logo_link{ 
    padding-top: 5px;
}
nav a{
    padding: 35px;
}   
footer .social img{
    padding-top: 15px;
}  
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img{
    border: 10px solid black;
    border-radius: 10%;
}
.mountains{
    background-color:#D8A47F;
}